{% extends 'passwords/layout.html' %}
{% load widget_tweaks %}


{% block title %}

{% if user.is_authenticated %}
    Change your Password
{% else %}
    Reset your Password
{% endif %}

{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <form method="POST">
    {% csrf_token %}
                    <p>We'll send you an email to change your password.</p>
                    <div class="form-group">
                    {% render_field  form.email class="form-control form-control-lg" placeholder="Your Email Address" %}
                    </div>
                    <div class="form-group pt-1"><button type="submit" class="btn btn-block btn-primary btn-xl" href="../index.html">Change Password</button></div>
                </form>
{% else %}
    <form method="POST">
        {% csrf_token %}

                    <p>Don't worry, we'll send you an email to reset your password.</p>
                    <div class="form-group">
                    {% render_field  form.email class="form-control form-control-lg" placeholder="Your Email Address" %}
                    </div>
                    <div class="form-group pt-1"><button type="submit" class="btn btn-block btn-primary btn-xl" href="../index.html">Reset Password</button></div>
                </form>
{% endif %}


{% endblock content %}